<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Comments example - Node.JS</title>
	<link rel="stylesheet" href="/assets/foundation-6.2.3-complete/css/foundation.min.css">
</head>
<body>
	<div class="top-bar">
		<div class="top-bar-left">
			<ul class="menu">
				<li class="menu-text"><a href="/">Accueil</a></li>
			</ul>
		</div>
	</div>
	<div class="row medium-8 large-7 columns">